:root {
    --sky: #00bfff;
    --blue: #0000b8;
    --white: #f0f0f0;
    --disable-color: #82deff;
    --text-color: #565656;
    --shadow-color: #bcbcbc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
}


body {
    color: var(--text-color);
    letter-spacing: 1.2px;
}

a {
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
}

button {
    color: var(--white);
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--sky);
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background-color: var(--blue);
}

button:disabled {
    background-color: var(--disable-color);
    cursor: no-drop;
}
