:root {
    --orange: #ff8f05;
    --hover: #ff5d05;
    --bg: #fef4dd;
    --text-color: #565656;
    --shadow-color: #bcbcbc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
}


body {
    color: var(--text-color);
    letter-spacing: 1.2px;
    background-color: var(--bg);
}

a {
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
}

button {
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1rem;
    background-color: var(--orange);
    cursor: pointer;
    transition: .3s;
}

button:hover {
    background-color: var(--hover);
}

button:disabled {
    cursor: no-drop;
}
